<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head th:replace="fragments :: header" >
  </head>
  <body>
    <div th:replace="fragments :: navbar"></div>
    <div class="card">
      <div class="card-body">
        <div class="container mb-5 mt-3">
          <div class="row d-flex align-items-baseline">
            <div class="col-xl-9">
              <p style="color: #7e8d9f;font-size: 20px;">Order >> <strong>ID: <span th:text="${order.id}"></span></strong></p>
            </div>
            <!--            <div class="col-xl-3 float-end">-->
            <!--              <a class="btn btn-light text-capitalize border-0" data-mdb-ripple-color="dark"><i-->
            <!--                      class="fas fa-print text-primary"></i> Print</a>-->
            <!--              <a class="btn btn-light text-capitalize" data-mdb-ripple-color="dark"><i-->
            <!--                      class="far fa-file-pdf text-danger"></i> Export</a>-->
            <!--            </div>-->
            <hr>
          </div>

          <div class="container">
            <div class="col-md-12">
              <div class="text-center">
                <i class="fab fa-mdb fa-4x ms-0" style="color:#5d9fc5 ;"></i>
                <p class="pt-0">DinnerDash2.com</p>
              </div>
            </div>

            <div class="row">
              <div class="col-xl-8">
                <ul class="list-unstyled">
                  <li class="text-muted">To: <span style="color:#5d9fc5 ;" th:text="${order.user.fullName}">John Lorem</span></li>
                  <li class="text-muted">Street, City</li>
                  <li class="text-muted">State, Country</li>
                  <li class="text-muted"><i class="fa-solid fa-envelope"></i> <span th:text="${order.user.email}"></span></li>
                </ul>
              </div>
              <div class="col-xl-4">
                <p class="text-muted mt-3">Order Summary</p>
                                <ul class="list-unstyled">
                                  <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                                          class="fw-bold">ID:</span><span th:text="${order.id}"></span></li>
                                  <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                                          class="fw-bold">Creation Date: </span><span th:text="${order.orderTime}"></span></li>
                                  <li class="text-muted"><i class="fas fa-circle" style="color:#84B0CA ;"></i> <span
                                          class="me-1 fw-bold">Status:</span><span class="badge bg-warning text-black fw-bold" th:text="${order.status}">
                                  Unpaid</span></li>
                                </ul>
              </div>
            </div>

            <div class="row my-2 mx-1 justify-content-center">
              <table class="table table-striped table-borderless">
                <thead style="background-color:#84B0CA ;" class="text-white">
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Qty</th>
                  <th scope="col">Unit Price</th>
                  <th scope="col">Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="orderItem,iter : ${order.orderItems}">
                  <th scope="row" th:text="${iter.index} + 1">1</th>
                  <td th:text="${orderItem.itemDto.title}">Pro Package</td>
                  <td th:text="${orderItem.quantity}">4</td>
                  <td th:text="${orderItem.itemDto.price}">$200</td>
                  <td th:text="${orderItem.quantity} * ${orderItem.itemDto.price}">$800</td>
                </tr>
                </tbody>

              </table>
            </div>
            <div class="row">
              <div class="col-xl-8">
                <p class="ms-3">Add additional notes and payment information</p>

              </div>
              <div class="col-xl-3">
                <ul class="list-unstyled">
                  <!--                  <li class="text-black ms-5">SubTotal<p class="text-muted" th:text="${#aggregates.sum(price)}"></p></li>-->
                  <!--                  <li class="text-muted ms-3 mt-2"><span class="text-black me-4">Tax(15%)</span>$111</li>-->
                </ul>
                <p class="text-black float-start"><span class="text-black me-3"> Total Amount</span><span
                        style="font-size: 25px;" th:text="${#aggregates.sum(price)}">$1221</span></p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-xl-10">
                <p>Thank you for your order</p>
              </div>
<!--              <div class="col-xl-2">-->
<!--                <a class="btn btn-primary text-capitalize"-->
<!--                   style="background-color:#60bdf3 ;" th:href="@{/orders/users/{id}/new(id = ${session.loggedInUser.id})}">Confirm Order</a>-->
<!--              </div>-->
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>